<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaifon Store - Auriculares</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Accesorios para iPhone</h1>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/cargadores.html">Cargadores</a></li>
                <li><a href="/templates/auriculares.html">Auriculares</a></li>
                <li><a href="/templates/fundas.html">Fundas</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Auriculares para iPhone</h2>
        <img src="/assets/auriculares2.jpg" alt="Auriculares para iPhone" class="service-image">
        <p>Descubre nuestros Airpods y compralos al mejor precio!.</p>
        
    </main>
    <footer>
        <p>&copy; 2024 Accesorios para iPhone. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
