<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaifon Store - Fundas</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Jaifon Store</h1>
        <img src="/assets/logo1.png" alt="Logo de Jaifon Store" class="service-image">
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/cargadores.html">Cargadores</a></li>
                <li><a href="/templates/auriculares.html">Auriculares</a></li>
                <li><a href="/templates/fundas.html">Fundas</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Fundas para iPhone</h2>
        <p>Protege tu Iphone con nuestras fundas de calidad</p>
        <img src="/assets/fundas1.jpg" alt="Fundas para iPhone" class="service-image">
        <p>Usa nuestra funda azul oscuro que le da un toque clasico a tu celular<strong>!</strong>.</p>
        <img src="/assets/fundas2.jpg" alt="Fundas para iPhone" class="service-image">
        <p>O puedes usar nuestra funda roja que resalta entre las demas<strong>!</strong></p>
        <img src="/assets/fundas3.jpg" alt="Fundas para iPhone" class="service-image">
        <p>Y si te gustan los colores mas claros tenemos esta rosa pastel<strong>!</strong>.</p>
    </main>
    <footer>
        <p>&copy; 2024 Jaifon Store. Accesorios para iPhone. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
